BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
ColumnLimit: 120
BreakBeforeBinaryOperators: None
PenaltyBreakBeforeFirstCallParameter: 0

---
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
ColumnLimit: 120
BreakBeforeBinaryOperators: None
AllowShortFunctionsOnASingleLine: Empty
PenaltyBreakBeforeFirstCallParameter: 0

SortIncludes: false
IncludeBlocks: Preserve